<app-header ttitulo="Card"></app-header>

<ion-content>
  <ion-card mode="ios">

    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quaerat magnam eum et 
      reprehenderit hic consectetur possimus omnis porro earum, nulla suscipit quis.
    </ion-card-content>
    
  </ion-card>



  <ion-card>
    <ion-item color="success">
      <ion-icon color="light" slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum nobis corporis autem. 
      Nisi expedita odio praesentium cumque.
    </ion-card-content>
  </ion-card>



  <ion-card>
    <ion-img src="assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur exercitationem atque 
      laboriosam dolore deleniti eum provident molestias?
    </ion-card-content>
  </ion-card>
</ion-content>
